@page "/"
@using AleEbrahimGroup.Layout.ResourceFiles

<PageTitle>Home</PageTitle>

@inject IStringLocalizer<Resource> localizer

<h1>@localizer["helloworld"]</h1>

<h1>@localizer["home"]</h1>


@localizer["welcome"]
